<%- include("layout/header") %>
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("layout/sidenav") %>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include("layout/topnav") %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">All Comments</h1>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">All Comments</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>DP</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Email</th>
                                                    <th>Phone Number</th>
                                                    <th>Operation</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% result.map(data=> { %>
                                                    <tr>
                                                        <td>
                                                            <%- data._id %>
                                                        </td>
                                                        <td><img src="/uploads/<%=data.image %>" width="60px"
                                                                height="60px "></td>
                                                        <td>
                                                            <%- data.firstName %>
                                                        </td>
                                                        <td>
                                                            <%- data.lastName %>
                                                        </td>
                                                        <td>
                                                            <%- data.email %>
                                                        </td>
                                                        <td>
                                                            <%- data.contact%>
                                                        </td>
                                                        <% if(data.status) {%>
                                                            <td>
                                                                <a href="/admin/deactiveuser/<%- data._id %>"
                                                                    class="btn btn-danger">Deactive</a>
                                                            </td>
                                                            <% } else{%>
                                                                <td>
                                                                    <a href="/admin/activeuser/<%- data._id %>"
                                                                        class="btn btn-success">Active</a>
                                                                </td>
                                                                <% } %>
                                                    </tr>
                                                    <% }) %>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- End Begin Page Content -->
                </div>
                <!-- End of Main Content -->

                <%- include("layout/logoutuser") %>

                <%- include("layout/footer") %>