<%- include("layout/header") %>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <%- include("layout/sidenav") %>


            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <%- include("layout/topnav") %>

                        <!-- Begin Page Content -->
                        <div class="container-fluid">

                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                            </div>
                            <h1 class="h3 mb-0 text-gray-800 hb10">Sohan's Blogging</h1>
                            <img src="/images/newsohan.jpg" class="img5">
                        </div>
                        <!-- End Begin Page Content -->
                </div>
                <!-- End of Main Content -->
                <%- include("layout/logoutuser") %>

                <%- include("layout/footer") %>