<style>
    .in-left input[type="text"],
    .in-right textarea {
        color: #000000 !important
    }
</style>
<%- include("partial/header.ejs") %>
    <%- include("partial/header-top.ejs") %>


        <div class="banner-body cntct">
            <div class="container">
                <!-- contact -->
                <div class="contact">
                    <div class="contact-left">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d58906.875941549435!2d88.21819190676423!3d22.66572607854152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x39f8830b102cd5d7%3A0x1824fa463b4fec4f!2sM7JQ%2B27Q%2C%20Station%20Pally%2C%20Dankuni%2C%20West%20Bengal%20712311!3m2!1d22.6800776!2d88.28823899999999!5e0!3m2!1sen!2sin!4v1668386109916!5m2!1sen!2sin"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="contact-right">
                        <p class="phn">+91 9002755063</p>
                        <p class="phn-bottom">Dankuni Station Pally(north), Dankuni, Hooghly 712311 </span></p>
                        <p class="lom">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia non cupiditate sequi saepe modi pariatur. Ex, laborum! Velit laboriosam nemo iste quaerat assumenda. Ut animi aliquid molestiae est accusantium quod.</p>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="contact-left1">
                        <h3>Contact Us With <span>Any Queston</span></h3>
                        <% if(message.length > 0) {%>
                            <div class="<%- alert %>">
                                <%- message %>
                            </div>
                            <% } %>
                                <div class="in-left">
                                    <form action="/contact" method="post">
                                        <input type="text" name="name" placeholder="Your Name:" required>
                                        <input type="text" name="contact" placeholder="Phone Number:" required>
                                        <input type="text" name="email" placeholder="E-mail:" required>

                                </div>
                                <div class="in-right">

                                    <textarea placeholder="Message:" name="message"></textarea>
                                    <input type="submit" value="Submit">
                                    </form>
                                </div>
                                <div class="clearfix"> </div>
                    </div>
                    <div class="contact-right1">
                        <h3>Find Us On <span>Social Websites</span></h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere veniam minus, quasi tempore velit culpa eaque tempora dolorum iusto sint nesciunt necessitatibus tenetur fuga, nobis consequatur animi nam, voluptates in.</p>
                        <ul>
                            <li>
                                <a href="#" class="g1"> </a>
                            </li>
                            <li>
                                <a href="#" class="p1"> </a>
                            </li>
                            <li>
                                <a href="#" class="facebook1"> </a>
                            </li>
                            <li>
                                <a href="#" class="twitter1"> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <!-- //contact -->
            </div>
        </div>



        <%- include("partial/footer.ejs") %>