<%- include("partial/header") %>
    <%- include("partial/header-top") %>

        <!-- login-page -->
        <div class="login">
            <div class="login-grids">
                <div class="col-md-6 log">
                    <h3>Login</h3>
                    <% if(message_failed.length) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= message_failed %>
                        </div>
                        <% } %>
                            <% if(message_success.length) { %>
                                <div class="alert alert-success" role="alert">
                                    <%= message_success %>
                                </div>
                                <% } %>
                                    <% if(message_warning.length) { %>
                                        <div class="alert alert-warning" role="alert">
                                            <%= message_warning %>
                                        </div>
                                        <% } %>
                                            <p>Welcome, please enter the following to continue.</p>
                                            <form action="/postlogin" method="post">
                                                <h5>User Name:</h5>
                                                <input type="text" value="<%= displayData.email %>" name="email">
                                                <h5>Password:</h5>
                                                <input type="password" value="<%= displayData.password %>"
                                                    name="password"><br>
                                                <input type="checkbox" name="rememberme">
                                                <label>Keep me logged in</label> <br>
                                                <hr>
                                                <input type="submit" value="Login">

                                            </form>
                                            <a href="/forgot">Forgot Password ?</a>
                </div>
                <div class="col-md-6 login-right">
                    <h3>New Registration</h3>
                    <p>By creating an account with our blog website, you will be able to move through the write your
                        stories and reach people like you.</p>
                    <a href="/showregister" class="hvr-bounce-to-bottom button">Create An Account</a>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- //login-page -->
        <%- include("partial/footer.ejs") %>